### Programming Assignment 4
#### Brandon Thomas
#### Version 1
#### CS-150-01 Fall 2021

### Built-In List Functions

In [5]:
import random
numbers=[random.randrange(0,51) for i in range (10)]
numbers

[33, 11, 38, 36, 39, 40, 12, 1, 7, 2]

**append()** - adds a single item to the end of an existing list

In [6]:
numbers.append(26)
numbers

[33, 11, 38, 36, 39, 40, 12, 1, 7, 2, 26]

**extend()** -  adds the specified list elements to the end of the current list (done in list form)

In [7]:
numbers.extend([45,19])
numbers

[33, 11, 38, 36, 39, 40, 12, 1, 7, 2, 26, 45, 19]

**insert()** - adds item to a list at a specific position in a list (done as (location,value))

In [8]:
numbers.insert(4,25)
numbers

[33, 11, 38, 36, 25, 39, 40, 12, 1, 7, 2, 26, 45, 19]

**remove()** - removes a specified item from a list

In [9]:
numbers.remove(19)
numbers

[33, 11, 38, 36, 25, 39, 40, 12, 1, 7, 2, 26, 45]

**count()** - calculates how many times a particular value appears within a list

In [10]:
numbers.count(12)

1

**index()** -  returns the index position of an item in a list

In [11]:
numbers.index(38)

2

**pop()** - removes the last element from a list and returns that element

In [12]:
numbers

[33, 11, 38, 36, 25, 39, 40, 12, 1, 7, 2, 26, 45]

In [13]:
numbers.pop(2)

38

**sorted()** - sorts any sequence and returns a list with the elements in a sorted manner, without modifying the original sequence

In [14]:
sorted(numbers)

[1, 2, 7, 11, 12, 25, 26, 33, 36, 39, 40, 45]

**copy()** - creates a copy of an existing list

In [15]:
numbers1=numbers.copy()
numbers1

[33, 11, 36, 25, 39, 40, 12, 1, 7, 2, 26, 45]

**clear()** - removes all elements from a list

In [17]:
numbers1.clear()
numbers1

[]

**any()** -  returns True if any element of an iterable is True

In [18]:
boolean=[True,True,False,True]
any(boolean)

True

**filter()** - forms a new list that contains only elements that satisfy a certain condition

In [21]:
import random
def less_than_twenty(x):
    if x<20:
        return x
numbers=[random.randrange(0,51) for i in range(10)]
print(numbers)

[25, 3, 37, 4, 35, 38, 18, 33, 21, 45]

In [22]:
list(filter(less_than_twenty,numbers))

[3, 4, 18]

**list()** - creates a collection that can be manipulated for analysis

In [25]:
numbers=[2,3,6,8,9,10]
list(numbers)

[2, 3, 6, 8, 9, 10]

**map()** - allows you to process and transform all the items in an iterable without using an explicit for loop

In [24]:
list(map(less_than_twenty,numbers))

[None, 3, None, 4, None, None, 18, None, None, None]

### Built-In Tuple Functions

**cmp()** - used to compare two objects and returns value according to the given values

In [34]:
example_tuple=(9,2,5,2)
example_tuple1=(8,6,4,2)
print(cmp(example_tuple,example_tuple1)) #cmp does not exist in python 3

NameError: name 'cmp' is not defined

**len()** - returns the length of a data format

In [27]:
len(example_tuple)

4

**max()** - used to find the largest value in a list of values

In [28]:
max(example_tuple)

9

**tuple(seq)** - converts a list into tuple

In [29]:
tuple(numbers)

(2, 3, 6, 8, 9, 10)